#projects-section {
  text-align: center;
}

.category {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
  .heading {
    font-size: 2rem;
  }

  .experiences {
    border: solid 3px;
    border-color: #289025;
    padding: 5%;
  }
  .experiences:hover {
    background-color: #289025;
    cursor: pointer;
  }
  .details {
    font-size: 1.2rem;
  }
}

//project2
.theme {
  .heading2 {
    background-color: #289025;
    color: white;
    padding: 2%;
    text-align: center;
  }
  span {
    font-weight: bold;
  }
  p {
    margin-bottom: 5px;
  }
  .assignments {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    padding: 2%;
    div {
      margin-bottom: 8%;
    }
  }
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
#accordian-projects {
  .grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    h3 {
      font-size: 1.5rem;
    }
  }
}
//Accoprdian experiences

#accordian-experiences {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  .accordiaProjects {
    border: solid 1px #289025;
    background-color: white;
    cursor: pointer;
    padding: 18px;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active,
  .accordiaProjects:hover {
    background-color: #289025;
    color: white;
  }

  /* Style the accordion panel. Note: hidden by default */
  .list {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }

  .client1,
  .location1,
  .timeline1 {
    display: inline-block;
  }

  label {
    font-weight: bold;
  }
}
