#projects-section {
  text-align: center;
}

.category {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
  .heading {
    font-size: 2rem;
  }

  .experiences {
    border: solid 3px;
    border-color: #289025;
    padding: 5%;
  }
  .experiences:hover {
    background-color: #289025;
    cursor: pointer;
  }
  .details {
    font-size: 1.2rem;
  }
}

//project2
.theme {
  .heading2 {
    background-color: #289025;
    color: white;
    padding: 2%;
    text-align: center;
  }
  span {
    font-weight: bold;
  }
  p {
    margin-bottom: 5px;
  }
  .assignments {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-between;
    padding: 2%;
    div {
      margin-bottom: 8%;
    }
  }
  h3 {
    font-size: 1.3rem;
    font-weight: bold;
  }
}
#accordian-projects {
  .grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    h3 {
      font-size: 1.5rem;
    }
  }
}
//Accoprdian experiences

#accordian-experiences {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;

  .accordianProjects {
    border: solid 1px #289025;
    background-color: white;
    cursor: pointer;
    padding: 18px;
    transition: 0.4s;
    margin-bottom: 20px;
    width: 20rem;
    font-size: 1.2rem;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active,
  .accordianProjects:hover {
    background-color: #289025;
    color: white;
  }
  .accordianProjects:active {
    background-color: #289025;
    color: white;
  }
}

#projectsList3,
#projectsList2,
#projectsList,
#projectsList4,
#projectsList5,
#projectsList6,
#projectsList7,
#projectsList8,
#projectsList9,
#projectsList10,
#projectsList11 {
  display: none;
  margin-left: 5rem;
  margin-right: 5rem;
}

.para1,
.client1,
.location1,
.timeline1 .inline-block,
img {
  display: inline-block;
  margin-bottom: 10px;
}
label {
  font-weight: bold;
}
.projectImg-div {
  width: 100%;
  height: 300px;
}
.projectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//projects5.js

.itemClass {
  display: grid;
  grid-template-columns: 37% 57%;
  justify-content: space-between;
  border-bottom: solid 1px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
span {
  font-weight: bold;
}
.innerDivClass {
  padding-top: 1rem;
}
