#projects-section {
  text-align: center;
}

.category {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
}
.category .heading {
  font-size: 2rem;
}
.category .experiences {
  border: solid 3px;
  border-color: #289025;
  padding: 5%;
}
.category .experiences:hover {
  background-color: #289025;
  cursor: pointer;
}
.category .details {
  font-size: 1.2rem;
}

.theme .heading2 {
  background-color: #289025;
  color: white;
  padding: 2%;
  text-align: center;
}
.theme span {
  font-weight: bold;
}
.theme p {
  margin-bottom: 5px;
}
.theme .assignments {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-content: space-between;
  padding: 2%;
}
.theme .assignments div {
  margin-bottom: 8%;
}
.theme h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#accordian-projects .grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}
#accordian-projects .grid h3 {
  font-size: 1.5rem;
}

#accordian-experiences {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
}
#accordian-experiences .accordianProjects {
  border: solid 1px #289025;
  background-color: white;
  cursor: pointer;
  padding: 18px;
  transition: 0.4s;
  margin-bottom: 20px;
  width: 20rem;
  font-size: 1.2rem;
}
#accordian-experiences .active,
#accordian-experiences .accordianProjects:hover {
  background-color: #289025;
  color: white;
}
#accordian-experiences .accordianProjects:active {
  background-color: #289025;
  color: white;
}

@media (max-width: 1400px) {
  #accordian-experiences {
    grid-template-columns: 29% 29% 29%;
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  #accordian-experiences {
    grid-template-columns: 45% 45%;
    justify-content: space-between;
  }
}
@media (max-width: 700px) {
  #accordian-experiences {
    display: block;
  }
}
#projectsList3,
#projectsList2,
#projectsList,
#projectsList4,
#projectsList5,
#projectsList6,
#projectsList7,
#projectsList8,
#projectsList9,
#projectsList10,
#projectsList11 {
  display: none;
}

.m-left-right {
  margin-left: 5rem;
  margin-right: 5rem;
}

@media (max-width: 1200px) {
  .m-left-right {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .itemClass {
    display: block !important;
  }
}
.para1,
.client1,
.location1,
.timeline1 .inline-block,
img {
  display: inline-block;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

.projectImg-div {
  width: 100%;
  height: 300px;
}

.projectImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.itemClass {
  display: grid;
  grid-template-columns: 37% 57%;
  justify-content: space-between;
  border-bottom: solid 1px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

span {
  font-weight: bold;
}

.innerDivClass {
  padding-top: 1rem;
}/*# sourceMappingURL=projects.css.map */