body {
  font-family: DM Sans;
}

h1,
h2,
h3 {
  font-family: instrumental serif;
}

a {
  text-decoration: none !important;
  color: #242424 !important;
}

.p-left-right {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 600px) {
  .p-left-right {
    padding-left: 1rem !important;
  }
}
.container {
  flex-wrap: none !important;
}

.logo {
  width: 30%;
}

#navmenu {
  text-align: right;
}

header li {
  list-style-type: none;
  display: inline;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #242424;
}
header li:hover {
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  cursor: pointer;
}

#home-section1-img {
  background-image: url(images/earth-image.jpg);
  height: 100vh;
}
#home-section1-img h1,
#home-section1-img h2 {
  color: white;
  padding-left: 3%;
  position: relative;
  top: 10%;
}

#home-section2-para {
  text-align: center;
}

#services ul {
  margin-left: 10%;
}
#services h1 {
  text-align: center;
  margin-bottom: 3%;
}
#services img {
  display: block !important;
  margin-bottom: 7%;
  text-align: center;
  margin: auto;
}
#services .grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-around;
}
#services .accordion-button {
  border-right: solid 1px rgba(26, 25, 25, 0.5);
  display: block;
  margin-top: 10%;
  height: 150px;
}
#services h3 {
  text-align: center;
  margin: 5% 10% 10% 10%;
  font-size: 1.5rem;
}
#services h3:hover {
  color: #289025;
}
#services .accordion {
  --bs-accordion-border-color: none;
}
@media (max-width: 900px) {
  #services .grid {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 600px) {
  #services .grid {
    display: block;
  }
  #services .accordion-button {
    border-bottom: solid 1px rgba(26, 25, 25, 0.5);
    border-right: none;
    margin-bottom: 10%;
  }
}

#home-projects h1 {
  text-align: center;
  margin-bottom: 3%;
}
#home-projects .scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#home-projects .scrolling-wrapper-flexbox .card {
  flex: 0 0 auto;
  margin: 1%;
  width: 402px;
}
#home-projects img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 300px;
}
#home-projects figcaption {
  font-size: 1.2rem;
  padding: 1%;
  font-weight: 500;
  text-align: center;
}
#home-projects .seemore {
  width: 400px;
  height: 300px;
  text-align: center;
}
#home-projects .seemore a {
  padding-top: 30%;
}
#home-projects .seemore a:hover {
  color: #289025 !important;
}

#working-areas .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 10%;
  padding-right: 10%;
}
#working-areas h1 {
  text-align: center;
  margin-bottom: 3%;
}
#working-areas li {
  list-style-type: none;
  padding: 1.5%;
}
#working-areas img {
  margin-right: 1%;
}
@media (max-width: 900px) {
  #working-areas .grid {
    padding-left: 0;
    padding-right: 0;
  }
}

#client-partners h1 {
  text-align: center;
  margin-bottom: 3%;
}
#client-partners .client-grid {
  display: grid;
  grid-template-columns: 20% 20% 10% 10% 10% 10% 10%;
  justify-content: space-between;
}
#client-partners .client-grid img,
#client-partners .client-grid svg {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 50%;
}
@media (max-width: 900px) {
  #client-partners .client-grid {
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
  }
  #client-partners .client-grid div {
    width: 100%;
    height: 70px;
  }
  #client-partners .client-grid div img,
  #client-partners .client-grid div svg {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

#contacts {
  background-color: #289025;
  color: white;
}
#contacts h1 {
  text-align: center;
  margin-bottom: 3%;
}
#contacts .grid {
  display: grid;
  grid-template-columns: 50% 50%;
}
#contacts i {
  color: white;
  margin-right: 5%;
}
#contacts .follow-us {
  text-align: right;
}
#contacts .follow-us p {
  margin-right: 5%;
}
@media (max-width: 600px) {
  #contacts .grid {
    display: block;
  }
  #contacts .follow-us {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */